nav {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}
.page {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  align-items: center;
  margin-top: -3rem;
}
.page h1 {
  font-weight: 700;
}
.page h1 span {
  color: var(--primary-500);
}
.page p {
  color: var(--grey-600);
}
.page .main_img {
  display: none;
}
@media (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .page .main_img {
    display: block;
  }
}
